:root {
	--primary: #c0eef2;
	--secondary: #537fe7;
	--tertiary: #181823;
}

/* NAVBAR CSS */
a.nav-link,
a.navbar-brand {
	color: var(--primary);
}
button.navbar-toggler {
	background-color: var(--secondary);
}
a.nav-link:focus,
a.navbar-brand:focus {
	color: var(--primary);
}
.navbar-brand {
	font-size: 1.5rem;
	letter-spacing: 2px;
	font-weight: bold;
}
/* NAVBAR CSS */
/* BODY CSS */

.body {
	background-color: whitesmoke;
}
/* DEFINE CSS */
section {
	display: block;
	width: 100%;
}
section#define {
	width: 100%;

	position: relative;
	text-align: center;
	padding: 0;
	margin: 0;
	height: 36rem;
}
section#define img {
	width: 100%;
	height: 36rem;
}

.image-overlay {
	position: absolute;
	display: block;
	top: 20%;
	left: 20%;
	width: 50%;
	text-align: left;
	color: var(--primary);
	padding: 20px;
	overflow: hidden;
}

section#define h4 {
	color: var(--secondary);
	margin-bottom: 20px;
}

section#define button,
section#define button.button {
	color: var(--primary);
	background-color: var(--secondary);
	border: none;
	padding: 5px 10px;
	font-size: small;
	border-radius: 2px;
	margin: 10px 0;
	cursor: pointer;
}

/* DEFINE CSS */
/* CONTENT-WRAP CSS */

.content-wrap {
	width: 80%;
	margin: 0 10%;
	padding: 10px;
}
.content-wrap h2 {
	margin: 40px;
	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	height: fit-content;
	border-radius: 20px;
}
/* CONTENT-WRAP CSS */
/* sERVICE CSS */
#services {
	width: 100%;
	color: var(--secondary);
	background-color: var(--tertiary);
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#services div.row {
	justify-content: center;
	width: 100%;
}
#services div.card {
	margin: 5% 5%;

	overflow: hidden;
}
#services .card-body h5 {
	color: var(--tertiary);
	height: 20%;
}
#services .card-body p {
	color: var(--tertiary);
	height: 40%;
}
#services .card-body a {
	margin-top: 5%;
	height: 20%;
	overflow: hidden;
}
#services .card-body {
	text-align: center;
	margin: 5% 5%;
	padding: 5%;
	width: 90%;
	height: 250px;
	overflow: hidden;
}

/* sERVICE CSS */
/* ABOUT CSS */
#about {
	text-align: left;
	color: var(--primary);
	background-color: var(--secondary);
}
#about,
#skills {
	padding: 50px;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 100%;
}
#skills {
	text-align: right;
	background-color: var(--tertiary);
	color: var(--primary);
}
.aboutme-text,
.skills-text {
	margin: 5%;
	width: 100%;
}
.skills-text h3,
.aboutme-text h3 {
	background-color: var(--primary);
	border-radius: 20px;
	padding: 0 5%;
	color: var(--secondary);
}
.aboutme-text p,
.aboutme-text h6,
.aboutme-text a,
.skills-text p,
.skills-text h6,
.skills-text a {
	padding: 3% 5%;
}
.skills-text button,
.aboutme-text button {
	padding: 1% 2%;
}

.skills-pic,
.aboutme-pic {
	width: 100%;
	margin: 5%;
	text-align: center;
}
.aboutme-pic h2,
.skills-pic h2 {
	color: var(--tertiary);
}

.aboutme-pic img,
.skills-pic YoutubeEmbed {
	padding: 5%;
	border-radius: 50%;
}
.skills-pic h3,
.aboutme-pic h3 {
	color: var(--secondary);
}
.aboutme-pic p,
.skills-pic p {
	color: var(--primary);
	font-size: 16px;
	padding: 5%;
}

/* ABOUT CSS */
/* SKILLS CSS */

/* SKILLS CSS */
/* PROJECTS CSS */
#projects {
	color: var(--primary);
	background-color: var(--secondary);
	border: var(--tertiary);
	padding: 50px;
	text-align: center;
	width: 100%;
	display: inline-block;
	border-radius: 5px;
	width: 100%;
}
#projects h2 {
	margin: 20px;
	text-align: center;
	background-color: var(--primary);
	color: var(--secondary);
	height: fit-content;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.carousel {
	width: 100%;
	background-color: var(--tertiary);
}
.carousel-control-prev,
.carousel-control-next {
	width: auto;
	padding: 10px;
	color: var(--tertiary);
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-inner {
	height: fit-content;
	align-items: center;
	color: var(--secondary);
	margin: auto;
}
.carousel-caption {
	color: var(--tertiary);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	visibility: var(--primary);
	background-color: var(--primary);
}

.carousel-indicators {
	bottom: 10px;
	color: var(--tertiary);
}

.carousel-indicators li {
	background-color: var(--secondary);
	border-color: var(--primary);
}

.carousel-indicators .active {
	background-color: var(--primary);
}
/* PROJECTS CSS */

/* FOOTER CSS */

#footer {
	width: 100%;
	background-color: var(--tertiary);
	color: var(--primary);
	padding: 2.5% 5%;
	text-align: center;
	display: block;
}

div.myinfo {
	display: flex;
	justify-content: center;
}
.myinfo h5 {
	text-align: center;
	margin: 2% 2%;
}

div.small {
	font-weight: lighter;
	font-size: smaller;
	text-align: center;
	margin: 2.5%;
	opacity: 80%;
}
#footer a {
	padding: 1% 2%;
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

footer .copyright {
	text-align: center;
	background-color: var(--tertiary);
	color: var(--primary);
	padding: 10px;
	margin: 0;
}

/* FOOTER CSS */

/* YOUTUBE CSS */
.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

/* YOUTUBE CSS */

/* CONTACT CSS */
#contact h1 {
	text-align: center;
	padding-top: 40px;
}
#page-title {
	text-align: center;
	background-color: var(--tertiary);
	color: var(--primary);
}

#page-title ul.list-nav a {
	padding: 15px;
	text-decoration: none;
	color: var(--primary);
}

#page-title ul.list-nav {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
	padding-left: 0;
}
section#quick-support div.myinfo {
	display: block;
	justify-content: left;
}
#quick-support h5 {
	text-align: left;
	margin: 30px;
	margin-bottom: 10%;
}
#quick-support p {
	text-align: left;
	margin: 50px;
}
#contact div.small {
	position: absolute;
	text-align: left;
	margin: 0 6%;
}
#quick-support svg {
	font-size: 30px;
	margin: 2% 2% 0 2%;
}
#comment form {
	background-color: var(--primary);
	border-radius: 5px;
	text-align: left;
	padding: 20px;
	text-align: center;
}
#comment input,
#comment textarea {
	width: 50%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	height: fit-content;
	resize: none;
}
/* CONTACT CSS */

/* ABOUT  CSS */
/* MY PROCESS */
section#my-process {
	text-align: center;
	padding-bottom: 50px;
	width: 100%;
}
section#my-process h2 {
	margin-top: 50px;
}
section#my-process p {
	padding: 30px;
}
div#process-card.card {
	background-color: var(--primary);
	height: fit-content;
	margin: 3%;
}
div.row {
	width: 100%;
}
div.row.bottom {
	margin-left: 20%;
}
div#process-card.card h4 {
	padding: 15px;
	margin: 0;
	text-align: left;
	background-color: var(--secondary);
	border-radius: 5px;
	border-bottom-right-radius: 60px;
	opacity: 40%;
	width: fit-content;
}
div#process-card.card-body {
	background-color: var(--primary);
	width: 100%;
	text-align: left;
	margin: 0;
	height: fit-content;
}
p#process-card.card-text,
h5#process-card.card-title {
	height: fit-content;
	padding: 0;
	padding-top: 5px;
}
a#process-card.btn.btn-primary {
	padding: 10px 12px;
	margin: 10px;
	opacity: 40%;
}

/* MY PROCESS */
/* BRIEF CSS */
section#breif {
	padding-bottom: 50px;
	width: 100%;
}
/* BRIEF CSS */
/* FEEDBACK CSS */
section#feedback {
	width: 100%;
	display: flex;
	margin: 5rem 0;
	justify-content: space-evenly;
}
div.react-card-flip {
	height: fit-content;
}
div.react-card-front {
	margin: 0 1rem;
	padding: 2px;
	flex-basis: 100%;
}
div.react-card-back {
	margin: 0 1rem;
	padding: 2px;
	flex-basis: 100%;
}
img.card-img-top {
	border-radius: 10px;
	height: 50%;
}
#feedback div.card-body {
	height: 100%;
	width: 80%;
	margin: 0 10%;
	background-color: var(--primary);
}
h4.card-title,
p.card-text {
	margin: 20px 0;
}
button.flip-switch {
	color: var(--tertiary);
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 200%;
}

/* FEEDBACK CSS */
/* ABOUT  CSS */

@media only screen and (max-width: 1000px) {
	.myinfo,
	section#skills,
	section#about {
		width: 100%;
		flex-direction: column;
		text-align: center;
		padding: 10%;
	}
	div.row,
	div.col-sm-3 {
		width: 100%;
		flex-direction: column;
		text-align: center;
	}
	/*  */
	section#feedback {
		flex-wrap: wrap;
	}
	div.card {
		margin: 3% 3%;
	}

	/* */
	section#projects,
	section#services .myinfo {
		padding: 5%;
	}
	div.aboutme-text,
	div.aboutme-pic,
	div.skills-text,
	div.skills-pic {
		margin: 0%;
	}
	.skills-text h3,
	.aboutme-text h3,
	.aboutme-text p,
	.aboutme-text a,
	.skills-text p,
	.aboutme-text a {
		text-align: center;
	}
	.aboutme-text a,
	.skills-text a {
		padding: 1% 1%;
	}
	h1 {
		font-size: 2em;
	} /* reduce h1 to h2 */
	h2 {
		font-size: 1.5em;
	} /* reduce h2 to h3 */
	h3 {
		font-size: 1.17em;
	} /* reduce h3 to h4 */
	h4 {
		font-size: 1em;
	} /* reduce h4 to h5 */
	h5 {
		font-size: 0.83em;
	} /* reduce h5 to h6 */
	h6 {
		font-size: 0.67em;
	} /* reduce h6 to smallest size */
	p {
		font-size: 0.83em; /* reduce font-size */
		line-height: 1.2em; /* adjust line-height */
	}
	div.col-sm-3 {
		margin: 0%;
	}
	div.row {
		margin: 0%;
	}
	div.row.bottom {
		margin: 0%;
		flex-basis: 100%;
	}
}
